<div class="universe" id='header360'>
    <div class="cajanegra">
        <div data-aos="fade-up" class="title"><h2 class="titleblack">PANORÁMICA</h2><h2 class="titleorange">360º</h2></div>
        <div class="info360">
            <h3 data-aos="fade-up">  
                <span class="t0">Presenta a lo grande tu pequeño establecimiento</span>
                <span class="t0"><br>con esta sencilla herramienta</span>  
            </h3>
            <h4 data-aos="fade-up">Muestra tu negocio desde todas las perspectivas.
                <br>Tus anuncios en Google y en redes sociales, así como tu web transmitirán mucha más información.
            </h4>
        </div>
        <div data-aos="fade-up" class="downarrow" (click)="onClick('foto360tag')">
            <img id="flechita" src="../../assets/down-arrow.svg" width="55">
        </div>
    </div>
</div>