
<footer class="foot">
    <div>
        <h3>Productos</h3>
        <div class="litem" (click)="onClick('header360')"><p>Foto 360º</p></div>
        <div class="litem" (click)="onClick('tourvirtualid')"><p>Tour Virtual</p></div>
    </div>
    <div>
        <h3>Ejemplos</h3>
        <div class="litem" (click)="onSelect('salalemos')"><p>Sala Carlos Lemos</p></div>
    </div>
    <div>
        <h3>Contacto</h3>
        <div class="litem" (click)="onSelect('mail')"><p>Email</p></div>
    </div>
    <div>
        <h3>Síguenos</h3>
        <div class="litem" (click)="onSelect('fb')"><p>Facebook</p></div>
    </div>

</footer>