
    
    <div class="universe2" id="tourvirtualid">
        <div class="cajanegra">
            <div data-aos="fade-up" class="title"><h2 class="titleblack">TOUR VIRTUAL</h2><h2 class="titleorange">360º</h2></div>
            <div class="info360">
                <h3 data-aos="fade-up">  
                    <span class="t0">Descubre una herramienta fundamental</span>
                    <span class="t0"><br>para la venta de tu piso</span>  
                </h3>
                <h4 data-aos="fade-up"><br>Con esta nueva herramienta interactiva conseguirás que el visitante ya sienta que está allí y quiera conocerte.</h4>
                <h4 data-aos="fade-up">Contamos con servidores dedicados para alojar tu tour virutal en la web.</h4>
            </div>
           <!--  <div data-aos="fade-up" class="tours" *ngFor="let tour of tours" (click)="onSelect(tour)">
                <div class="tour">
                    <h4>{{tour.titulo}}</h4>
                    <p>{{tour.descripcion}}</p>
                </div>
            </div> -->
            <div data-aos="fade-up" class="prevbox">
                <div class="prev" (click)="onSelect('arganzuelas')">
                    <h4>Piso en Arganzuela, Madrid</h4>
                    <p>Tour Virtual</p>
                    <img src="../../assets/arganzuela.jpeg" class="prevImg">
                </div>
                <div class="prev" (click)="onSelect('lemos')">
                    <h4>Artes Escénicas Carlos Lemos</h4>
                    <p>Tour Virtual</p>
                    <img src="../../assets/lemosPrev.jpg" class="prevImg">
                </div>
            </div>
        </div>
    </div>