<isi-navbar></isi-navbar>
<div class = "pano" #myPanoViewer1 id='home' data-aos="fade-right" data-aos-delay="600">
    <div class="box">
        <div class="blackbox"></div>
        <div class="info">
            <h3 class="parrafito">En realidad, lo sabes de toda la vida:</h3> 
            <h1>“LA PRIMERA IMPRESIÓN ES LA QUE CUENTA”</h1>

            <h3 class="parrafito2">Y esa primera impresión siempre entra por la vista.</h3>
            <!-- <br>Has puesto en tu negocio toda tu energía y todo tu ser, de tal forma que es fiel reflejo de ti mism@ 
            <br>
            <br>y ahora tienes que mostrarte y resultar atractiv@.
            <br>
            <br>Si una imagen vale más que mil palabras… imagina cuanto puede valer una imagen integral, una imagen panorámica en 360º que muestre tu negocio en todas las perspectivas.
            <br>Tú ya lo sabes, que si te muestras en toda tu plenitud, atraes y enamoras. Hazlo.
            </span> -->
            
        </div>
        <div class="local">
            <p>ROCOSA</p>
            <p>Lámparas/Iluminación</p>
            <p>c/Lope de Rueda, 7</p>
            <p>28009 Madrid.</p>
        </div>
        
    </div>
</div>

<isi-header360></isi-header360>
<isi-foto360></isi-foto360>
<tour-virtual-sel></tour-virtual-sel>
<isi-footer></isi-footer>


<!--div class="pano" #myPanoViewer2></div-->

<!-- <button (click)="loaded = true">test</button>
<div *ngIf="loaded">
    {{ loaded }}
    <iframe [src]="tourURI" width="100%" height="300" style="border:1px solid black;">
    </iframe>
</div> -->
